<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>servlet_hello</servlet-name>
        <servlet-class>sv.edu.udb.servlet.servlet_hello</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_ingresar_empleado</servlet-name>
        <servlet-class>sv.edu.udb.servlet.servlet_ingresar_empleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeneraSession</servlet-name>
        <servlet-class>sv.edu.udb.servlet.GeneraSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_ingresar_jefe_sistemas</servlet-name>
        <servlet-class>sv.edu.udb.complementarios.servlet_ingresar_jefe_sistemas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servlet_hello</servlet-name>
        <url-pattern>/servlet_hello</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_ingresar_empleado</servlet-name>
        <url-pattern>/servlet_ingresar_empleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeneraSession</servlet-name>
        <url-pattern>/GeneraSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_ingresar_jefe_sistemas</servlet-name>
        <url-pattern>/servlet_ingresar_jefe_sistemas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
